.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f9f9f9;
    z-index: 100;
    background: white;
    position: sticky;
    top: 0;
}

.header__logo{
    object-fit: contain;
    width: 120px;
}

.header__icon{
    margin: 12px;
}